*{
    margin: 0;
    vertical-align: top;
}

body{
    width: 99%;
    margin: 0 auto;
    text-align: center;
}

header, nav, main, section, article, aside, footer{
    margin: 5px;
    border-radius: 10px;
}


header{
    width: 100%;
    background-color: orange;
    height: 100px;
}

nav{
    width: 100%;
    background-color: yellow;
    height: 100px;
}

main{
    display: inline-block;
    width: 59%;
    background-color: darkcyan;
    height: 400px;
    margin: 5 auto;
    text-align: center;
}

section{
    display: inline-block;
    width: 97%;
    background-color: lightgrey;
}

article{
    display: inline-block;
    width: 40%;
    background-color: green;
    height: 20%;
}

aside{
    display: inline-block;
    width: 39%;
    height: auto;
    background-color: steelblue;
    height: 400px;
    margin: 5 auto;
}

footer{
    width: 100%;
    background-color: greenyellow;
}

h1{
    width: fit-content;
    padding-left: 20px;
    color: white;
    text-shadow: 1px 1px black;
}